* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* PAGE CONTENT */
.pageContent {
    margin-top: -30px;
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: center;
    width: 100%;
}

/* HOME SECTION */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* map and stories side by side */
    min-height: 100vh;   /* full viewport height */
    width: 100%;
    position: relative;
    padding: 2rem;
    gap: 2rem;
}

/* MYANMAR MAP */
.myanmarMap img {
    max-width: 400px;
    height: auto;
}

/* STORIES TEXT */
.stories h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 15px;
    color: #210000;
    text-align: right;
}

h1 span {
    display: block;
}

.name {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 40px;
}

/* STORIES SECTION */
.storiesSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    min-height: 80vh;
    width: 75%;
}

.container section, .container.second section{
    display: flex;
    flex: 1;
    gap: 1em;
}

header {
    flex: 1;
    background-color: purple;
    border-radius: 2em;
}

section {
    flex: 5;
    gap: 1em;
    display: flex;
}

/* COL-LEFT */
.col-left {
    flex: 2;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    position: relative;
}

.col-left img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.col-left > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.col-left > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.col-left:hover > .overlay {
    opacity: 1;
}

/* COL-RIGHT */
.col-right {
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.container.second .col-right {
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    position: relative;
}

.container.second .col-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container.second .col-right > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.container.second .col-right > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.container.second .col-right:hover > .overlay {
    opacity: 1;
}

/* RIGHT-TOP */
.right-top {
    flex: 1;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}   

.right-top img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right-top > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.right-top > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.right-top:hover > .overlay {
    opacity: 1;
}

/* RIGHT-BOTTOM */
.right-bottom {
    flex: 1;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}

.right-bottom img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right-bottom > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.right-bottom > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.right-bottom:hover > .overlay {
    opacity: 1;
}

/* BOTTOM-RIGHT-TOP */
.bottom-right-top {
    flex: 1;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}

.bottom-right-top img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bottom-right-top > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.bottom-right-top > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.bottom-right-top:hover > .overlay {
    opacity: 1;
}

/* BOTTOM-RIGHT-BOTTOM */
.bottom-right-bottom {
    flex: 1;
    border-radius: 2em; 
    display: flex;
    gap: 1em;
}

.bottom-right-bottom-left,
.bottom-right-bottom-right {
    flex: 1;
    overflow: hidden;
    border-radius: 2em;
    position: relative;
}

.bottom-right-bottom-left img,
.bottom-right-bottom-right img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bottom-right-bottom-left > .overlay,
.bottom-right-bottom-right > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.bottom-right-bottom-left > .overlay p,
.bottom-right-bottom-right > .overlay p {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.bottom-right-bottom-left:hover > .overlay,
.bottom-right-bottom-right:hover > .overlay {
    opacity: 1;
}

.container.second section {
    flex-direction: row-reverse;
}

footer {
    flex: 1;
    background-color: blue;
    border-radius: 2em;
}

.overlay p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
}

/* MEDIA QUERIES */
@media (max-width: 968px){
    
}

@media(max-width: 700px) {
    section, .container.second section {
        flex-direction: column;
    }

    .home {
        flex-direction: column; /* stack map and text on small screens */
        gap: 1rem;
    }

    .stories h1 {
        font-size: 50px;
        line-height: 1.5;
        letter-spacing: 10px;
        text-align: center;
    }

    .myanmarMap img {
        width: 150px;
    }

    .name {
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
    }

    .col-left,
    .col-right {
        flex: none;
        width: 100%;
    }

    section {
        gap: 1rem;
    }

    .col-left > div,
    .col-right > div,
    .bottom-right-bottom > div,
    .right-top,
    .right-bottom,
    .bottom-right-top,
    .bottom-right-bottom {
        flex: none !important;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .bottom-right-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


#pageBody {
    scroll-margin-top: 100px;
  }
